@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* body {
  background-color: #0a1d25;
} */

.container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cover.jpg);
  height: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
  /* border-radius: 8px; */
}

a {
  text-decoration: none;
  color: aliceblue;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  /* background-color: #14bbb3; */
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.logo span {
  color: #14bbb3;
}

.nav-list,
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-list ul li {
  list-style: none;
}

.nav-list li a {
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-list li a:hover {
  color: #14bbb3;
}

.search-container {
  position: relative;
  /* width: 280px; */
}

.search-container input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.search-container i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  pointer-events: none;
}

.search-container input:focus {
  /* border: 3px solid #14bbb3; */
  box-shadow: 0 0 10px #14bbb3;
}

/* Hero contents */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
  gap: 1rem;
  height: 85vh;
}

.hero-info h1 {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.hero-info p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ccc;
  margin: 1.3rem 0;
}

.hero-btn {
  display: flex;
  gap: 1.5rem;
}

.hero-btn .btn {
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 40px;
  border: none;
}

.hero-btn #start {
  background-color: #14bbb3;
}

.hero-btn #work {
  background-color: transparent;
  border: 2px solid aliceblue;
  color: aliceblue;
}

#start:hover {
  background-color: transparent;
  border: 2px solid aliceblue;
  color: aliceblue;
}

#work:hover {
  background-color: #14bbb3;
  border: none;
  color: #0a1d25;
}

/* Service Section  */
.service {
  margin: 25px 5%;
  /* background-color: whitesmoke; */
}

.service h2,
.testimonial h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem;
  text-align: center;
  text-decoration: underline #14bbb3;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

  gap: 20px;
  margin: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  height: 250px;
  text-align: center;
  box-shadow: 0 0 0.5rem #888;
}

.card:hover,
.test-card:hover {
  border: 1px solid #14bbb3;
  box-shadow: 0 0 0.5rem #14bbb3;
}
.card i {
  font-size: 3rem;
  color: #14bbb3;
  /* margin: 1rem; */
}

.card p {
  margin-top: 0.5rem;
}

/* Testimonials section */
.testimonial,
footer {
  background-color: rgba(238, 238, 238, 0.4);
  /* margin: 3rem; */
  /* height: 100vh; */
}
.test-info h2 {
  text-decoration: none;
  margin-top: 3em;
  padding: 2em 0;
}

.testimonial span {
  background-color: #14bbb3;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  color: aliceblue;
}

.test-info p {
  text-align: center;
  margin-top: -6em;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  /* max-width: 800px; */
  gap: 1.5rem;
  padding: 5rem;
  margin-top: -2rem;
}

.test-card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #0a1d25;
}

.test-card img {
  height: 40px;
}

#vix {
  height: 1rem;
  margin: 10px;
}

#hbo {
  height: 4rem;
}

.test-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.bxs-star {
  color: #14bbb3;
}

.test-card p {
  margin: 1rem 0;
  color: #666;
  font-weight: 400;
}

.user p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: -0.3rem;
}

#disney {
  margin: 0 0.5rem 1rem 0;
  transform: rotate(4deg);
  box-shadow: 0 0 10px #0a1d25;
}

#disney:hover {
  box-shadow: 0 0 10px #14bbb3;
}

.price {
  margin: 1.5rem 1rem;
  padding: 1.5rem;
}

.individuals {
  border: 1px solid #0a1d25;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #0a1d25;
}
.price-card {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  gap: 3rem;
  padding: 2rem;
  margin: 1rem 1rem;
}

.price-card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-bottom: rem; */
  color: #555;
}

.price-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #666;
  margin: 1rem;
}

.price-card-info span {
  font-size: 2rem;
  color: #0a1d25;
  font-weight: 600;
}

.price-card button {
  padding: 0.5rem 6rem;
  /* width: 90%; */
  color: #14bbb3;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0 1px 5px #0a1d25;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 600;
}

.price-card hr {
  color: #555;
  opacity: 0.5;
  margin: 1rem auto;
  width: 92%;
}

.price-card ul {
  list-style: "✓";
  padding: 1rem;
}

.price-card li::marker {
  color: #14bbb3;
  font-size: 1.2rem;
}

#unique {
  background-color: #14bbb3;
  color: #0a1d25;
}

.price h3 {
  font-size: 1.5rem;
  text-align: center;
}

.price h3 + p {
  text-align: center;
}

/* footer area */

footer {
  padding: 2rem;
}

.footer-attached {
  display: flex;
  justify-content: space-evenly;
}
.logo-link .logo {
  color: #0a1d25;
  margin: 2rem;
}

.download {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download i {
  font-size: 2.5rem;
  color: #14bbb3;
}

.apple-store,
.play-store {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-info {
  display: flex;
  flex-direction: column;
}

.app-info p + p {
  font-size: 1rem;
  font-weight: 500;
}

/* .home-link {
  display: flex;
  align-items: center;
} */

.links {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}
.home-link li {
  list-style-type: none;
}

.home-link a {
  text-decoration: none;
  color: #0a1d25;
}

footer hr {
  padding: 1.5px;
  background-color: #14bbb3;
  margin: 2rem 0 0.5rem;
}

footer h6 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
